Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [ ]:
diabetes_data_raw = pd.read_csv('/content/diabetes_data.csv')

In [ ]:
diabetes_data_raw.head()

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
diabetes_data_raw.tail()

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
70687,6.0,0.0,1.0,1.0,37.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0
70688,10.0,1.0,1.0,1.0,29.0,1.0,1.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0
70689,13.0,0.0,1.0,1.0,25.0,0.0,1.0,0.0,1.0,0.0,0.0,5.0,15.0,0.0,1.0,0.0,1.0,1.0
70690,11.0,0.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,1.0,1.0
70691,9.0,0.0,1.0,1.0,25.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0

In [ ]:
diabetes_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   70692 non-null  float64
 1   Sex                   70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   HeartDiseaseorAttack  70692 non-null  float64
 7   PhysActivity          70692 non-null  float64
 8   Fruits                70692 non-null  float64
 9   Veggies               70692 non-null  float64
 10  HvyAlcoholConsump     70692 non-null  float64
 11  GenHlth               70692 non-null  float64
 12  MentHlth              70692 non-null  float64
 13  PhysHlth              70692 non-null  float64
 14  DiffWalk              70692 non-null  float64
 15  Stroke                70692 non-null  float64
 16  HighBP                70692 non-null  float64
 17  Diabetes              70692 non-null  float64
dtypes: float64(18)
memory usage: 9.7 MB

In [ ]:
dm = diabetes_data_raw[["Age","Sex","HighChol","BMI","Smoker","PhysActivity","PhysHlth","Fruits","Veggies","HvyAlcoholConsump","Stroke","HighBP","Diabetes"]]
dm.head()

,Age,Sex,HighChol,BMI,Smoker,PhysActivity,PhysHlth,Fruits,Veggies,HvyAlcoholConsump,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,26.0,0.0,1.0,30.0,0.0,1.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,26.0,0.0,1.0,10.0,1.0,1.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,28.0,1.0,1.0,3.0,1.0,1.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,29.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
dm.shape

(70692, 13)

In [ ]:
dm.describe()

,Age,Sex,HighChol,BMI,Smoker,PhysActivity,PhysHlth,Fruits,Veggies,HvyAlcoholConsump,Stroke,HighBP,Diabetes
count,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000,70692.000000
mean,8.584055,0.456997,0.525703,29.856985,0.475273,0.703036,5.810417,0.611795,0.788774,0.042721,0.062171,0.563458,0.500000
std,2.852153,0.498151,0.499342,7.113954,0.499392,0.456924,10.062261,0.487345,0.408181,0.202228,0.241468,0.495960,0.500004
min,1.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,0.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,0.000000,1.000000,29.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.500000
75%,11.000000,1.000000,1.000000,33.000000,1.000000,1.000000,6.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,13.000000,1.000000,1.000000,98.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
dm['Diabetes'].value_counts()

0.0    35346
1.0    35346
Name: Diabetes, dtype: int64

Splitting the features and output

In [ ]:
X = dm.drop(columns='Diabetes', axis=1)
Y = dm['Diabetes']

In [ ]:
print(X)

        Age  Sex  HighChol   BMI  Smoker  PhysActivity  PhysHlth  Fruits  \
0       4.0  1.0       0.0  26.0     0.0           1.0      30.0     0.0
1      12.0  1.0       1.0  26.0     1.0           0.0       0.0     1.0
2      13.0  1.0       0.0  26.0     0.0           1.0      10.0     1.0
3      11.0  1.0       1.0  28.0     1.0           1.0       3.0     1.0
4       8.0  0.0       0.0  29.0     1.0           1.0       0.0     1.0
...     ...  ...       ...   ...     ...           ...       ...     ...
70687   6.0  0.0       1.0  37.0     0.0           0.0       0.0     0.0
70688  10.0  1.0       1.0  29.0     1.0           0.0       0.0     1.0
70689  13.0  0.0       1.0  25.0     0.0           0.0       0.0     1.0
70690  11.0  0.0       1.0  18.0     0.0           0.0       0.0     0.0
70691   9.0  0.0       1.0  25.0     0.0           1.0       0.0     1.0

       Veggies  HvyAlcoholConsump  Stroke  HighBP
0          1.0                0.0     0.0     1.0
1          0.0                0.0     1.0     1.0
2          1.0                0.0     0.0     0.0
3          1.0                0.0     0.0     1.0
4          1.0                0.0     0.0     0.0
...        ...                ...     ...     ...
70687      1.0                0.0     0.0     0.0
70688      1.0                0.0     0.0     0.0
70689      0.0                0.0     0.0     1.0
70690      0.0                0.0     0.0     1.0
70691      0.0                0.0     0.0     1.0

[70692 rows x 12 columns]

In [ ]:
print(Y)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
70687    1.0
70688    1.0
70689    1.0
70690    1.0
70691    1.0
Name: Diabetes, Length: 70692, dtype: float64

Split the data into train and test

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(70692, 12) (56553, 12) (14139, 12)

Training the Model (Logistic Regression)

In [ ]:
model = LogisticRegression()

In [ ]:
# training model with training data
model.fit(X_train.values, Y_train.values)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Saving the Model as a Pickle file

In [ ]:
import pickle
pickle.dump(model,open('diabetes_model.pkl', 'wb'))

Model Evaluation (Accuracy Score)

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train.values)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train.values)

In [ ]:
print('Accuracy on training data is : ', training_data_accuracy)

Accuracy on training data is :  0.7270878644811062

In [ ]:
#accuracy on test data
X_test_prediction = model.predict(X_test.values)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy on test data is : ', test_data_accuracy)

Accuracy on test data is :  0.7277035151000778

Building a predictive system

In [ ]:
input_data = (6.0,0.0,0.0,38.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0)
# change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshaping numpy array since we are prediciting for one data point
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)

In [ ]:
print(prediction)

[0.]

In [ ]:
if(prediction[0]==0):
  print("The person has low chance to have diabetes")
else:
  print("The person has high chance to have diabetes")

The person has low chance to have diabetes